*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.properties
app/libs/
app/src/androidTest/
app/src/main/res/drawable/
app/src/test/
buildsrc/libs/
kylin/libs/
